.black {
  color: black
}

.thumbnail {
  margin-top: 30px;
  text-align: center;
  min-height: 205px;

  img {
    margin-top: 20px;
    max-width: 300px;
    max-height: 100px;
  }
}

.sidebar.fix {
  top: 20px;
}

.bg-img {
  max-width: 1200;
}
